
<!-- //jagdish modifications -->
<div #content class="content">
  <hello name="{{ name }}"></hello>
  <p>Start editing to see some magic happen :)</p>
  <h1>Send email data</h1>
  <p>
    Display: Latest 2022 Model with Native Resolution of 1280 x 720 Pixels |
    1500:1 Contrast Ratio | 150 inch Screen Display Lumens: 2600 Lumen (240
    ANSI) | LED- Long Life of upto 40000 Hours | 16:9 Aspect Ratio Connectivity:
    HDMI | USB | AV | Audio Out | WiFi for Mirroring & Streaming Only | In-Built
    Speakers Smart Features: Screen Mirroring / Miracast / Airplay | Wireless
    streaming for Android, iOS and DLNA | Pre-Installed YouTube Support: 1 year
    warranty | 11 Years of Excellence | Please call for technical and warranty
    related issues to "XElectron" directly.
  </p>

  <p>
    Display: Latest 2022 Model with Native Resolution of 1280 x 720 Pixels |
    1500:1 Contrast Ratio | 150 inch Screen Display Lumens: 2600 Lumen (240
    ANSI) | LED- Long Life of upto 40000 Hours | 16:9 Aspect Ratio Connectivity:
    HDMI | USB | AV | Audio Out | WiFi for Mirroring & Streaming Only | In-Built
    Speakers Smart Features: Screen Mirroring / Miracast / Airplay | Wireless
    streaming for Android, iOS and DLNA | Pre-Installed YouTube Support: 1 year
    warranty | 11 Years of Excellence | Please call for technical and warranty
    related issues to "XElectron" directly.
  </p>

  <p>
    Display: Latest 2022 Model with Native Resolution of 1280 x 720 Pixels |
    1500:1 Contrast Ratio | 150 inch Screen Display Lumens: 2600 Lumen (240
    ANSI) | LED- Long Life of upto 40000 Hours | 16:9 Aspect Ratio Connectivity:
    HDMI | USB | AV | Audio Out | WiFi for Mirroring & Streaming Only | In-Built
    Speakers Smart Features: Screen Mirroring / Miracast / Airplay | Wireless
    streaming for Android, iOS and DLNA | Pre-Installed YouTube Support: 1 year
    warranty | 11 Years of Excellence | Please call for technical and warranty
    related issues to "XElectron" directly.
  </p>

  <p>
    Display: Latest 2022 Model with Native Resolution of 1280 x 720 Pixels |
    1500:1 Contrast Ratio | 150 inch Screen Display Lumens: 2600 Lumen (240
    ANSI) | LED- Long Life of upto 40000 Hours | 16:9 Aspect Ratio Connectivity:
    HDMI | USB | AV | Audio Out | WiFi for Mirroring & Streaming Only | In-Built
    Speakers Smart Features: Screen Mirroring / Miracast / Airplay | Wireless
    streaming for Android, iOS and DLNA | Pre-Installed YouTube Support: 1 year
    warranty | 11 Years of Excellence | Please call for technical and warranty
    related issues to "XElectron" directly.
  </p>

  <p>
    Display: Latest 2022 Model with Native Resolution of 1280 x 720 Pixels |
    1500:1 Contrast Ratio | 150 inch Screen Display Lumens: 2600 Lumen (240
    ANSI) | LED- Long Life of upto 40000 Hours | 16:9 Aspect Ratio Connectivity:
    HDMI | USB | AV | Audio Out | WiFi for Mirroring & Streaming Only | In-Built
    Speakers Smart Features: Screen Mirroring / Miracast / Airplay | Wireless
    streaming for Android, iOS and DLNA | Pre-Installed YouTube Support: 1 year
    warranty | 11 Years of Excellence | Please call for technical and warranty
    related issues to "XElectron" directly.
  </p>
</div>

<button (click)="makePdf()">make pdf</button>
